@import url(app.css);

.notif-section {
  height: 70vh;
  justify-content: flex-start;
}
.table-container {
  max-height: 364px; /* Adjust the height as needed */
  overflow-y: auto;  /* Add vertical scroll if content overflows */
}
.disable-btn {
  cursor: no-drop;
}

.disable-btn:hover {
  background-color: rgba(0, 128, 0, 0.528) !important;
}
